.git
.gitignore
.gitattributes
.env
*.pyc
__pycache__
.pytest_cache
.coverage
.venv
venv
env
.idea
.vscode
*.log
.DS_Store
node_modules
npm-debug.log
.streamlit
*.ipynb
.ipynb_checkpoints
credentials.toml
